/* Step 1 */

/* Centered container with 70% width */
.grand-prix-step-one-container {
    text-align: center;
    color: black;
    width: 100%;
    margin: 0 auto; /* Centers the container horizontally */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Larger title */
  .grand-prix-step-one-container .grand-prix-title {
    font-size: 2em;
  }
  
  /* Larger and styled number input */
  .grand-prix-input {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .grand-prix-input:focus {
    border-color: #0056b3;
    outline: none;
  }
  .grand-prix-button {
    margin-top: 5%;
  }
  