/* Container for step three */
.grand-prix-step-three-container {
    text-align: center;
    color: black;
    width: 80%;
    margin: 0 auto;
  }
  
  /* Larger title */
  .grand-prix-step-three-container .grand-prix-title {
    font-size: 2em;
  }
  
  /* Zones container */
  .grand-prix-zones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* Individual zone */
  .grand-prix-zone {
    border: 2px dashed #cccccc;
    border-radius: 8px;
    width: 250px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
  }
  
  .grand-prix-zone.dragging-over {
    background-color: #e0e0e0;
  }
  
  /* Zone title */
  .grand-prix-zone h3 {
    margin-bottom: 10px;
  }
  
  /* Team card */
  .grand-prix-team-card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .grand-prix-team-card.selected {
    background-color: #d1e7ff; /* Color de fondo para el equipo seleccionado */
    border: 2px solid #007bff; /* Borde destacado para el equipo seleccionado */
    transform: scale(1.05); /* Aumentar un poco el tamaño para resaltar */
  }
  
  .grand-prix-team-card:hover {
    background-color: #f0f0f0;
  }
  
  /* Teams count */
  .grand-prix-zone p {
    margin-top: 10px;
  }
  
  /* Buttons */
  .grand-prix-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .grand-prix-button-group .grand-prix-button {
    font-size: 1.2em;
    padding: 15px 30px;
  }
  