.conteiner-title-federations {
    width: 100%;
    background-color: black;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.title-federaciones {
    color: white;
    font-size: 50px;
}