.conteiner-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
}

.conteiner-navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    color: #f0f0f0; /* Cambia el color del texto */
}

.btn-inicio {
    margin-left: 150px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    width: 100px;
    background-color: black; /* Fondo inicial negro */
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.conteiner-navbar.scrolled .btn-inicio {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro al hacer scroll */
    color: #f0f0f0; /* Texto del botón más claro */
}
.conteiner-navbar.scrolled .btn-inicio:hover {
    background-color:#000000;
    color: #f0f0f0; /* Texto del botón más claro */
}

.btn-inicio:hover {
    background-color: white;
    color: black;
}
