/* Contenedor principal */
.container-AllTeamsCard {
    width: 18.5rem;
    height: 6rem;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(to bottom, #80FFDB, #630ff5); 
    background-size: 200% 200%; 
    background-position: top;
    font-family: 'Montserrat', sans-serif;
    transition: background-position 0.5s ease-in-out;
}


.container-AllTeamsCard:hover {
    background-position: bottom; 
    cursor: pointer;
}
    
  
.subtitle-AllTeamsCard {
    top: 5px;
    color: #000;
    font-size: 0.8rem;
    font-weight: regular;
    margin-bottom: 0;
    text-align: center; 
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
    
  
.title-AllTeamsCard {
    margin: 0;
    color: #000;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
    
  
.container-AllTeamsCard:hover .title-AllTeamsCard {
    font-weight: bold;
    color: #fff;
    transform: scale(1.13);
}
  
.container-AllTeamsCard:hover .subtitle-AllTeamsCard {
    font-weight: bold;
    color: #fff;
    transform: scale(1.2);
}
    