.background-admin {
  background: url(./DeWatermark1.png);
  background-size: 110%;
  background-position: center;
  filter: blur(5px);
  transition: filter 0.3s ease, background-position 0.1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-admin.blurred {
  filter: blur(50px);
}

.admin-page {
    display: flex;
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: -2;
  }


.contenedor-padre {
  display: flex;
  gap: 20px;
}

.contenedor-hijo{
  display: flex;
  flex-direction: column;
  gap: 20px;

}


