/* Step 1 */

/* Contenedor centrado y ancho del 70% */
.round-robin-step-one-container {
  text-align: center;
  color: black;
width: 100%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Título con letra más grande */
.round-robin-step-one-container .round-robin-title {
  font-size: 2em;
}

/* Input de número más grande y estilizado */
.round-robin-input {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  margin-top: 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.round-robin-input:focus {
  border-color: #0056b3;
  outline: none;
}

/* Hover en el botón siguiente */
.round-robin-button {
  margin-top: 5%;
  width: 100%;
  font-size: 1.2em;
  padding: 15px 30px;
}

.round-robin-next-button .round-robin-button:hover {
  background-color: #0056b3;
}

/* Mejora en el input de número al hover */
.round-robin-input:hover {
  border-color: #0056b3;
}